@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-ctxt">
    <div class="section-1">
        <h1>欢迎</h1>
        <h2>王德东</h2>
        <p style="padding:0; margin:0;">你上次登陆时间为:<br> 18-10-2016, 01:20:40 PM</p>
    </div>
    <div class="section-2">
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td height="35" colspan="3" align="left" valign="middle" bgcolor="#660000" style="color:#FFF; padding:0 8px; font-weight:bold;">
                        <i class="fa fa-user"></i>&nbsp;<span style="text-transform: uppercase;">会员资料</span>
                    </td>
                </tr>
                <tr>
                    <td width="10" align="left" valign="middle">会员编号</td>
                    <td width="5" height="35" align="center" valign="middle">:</td>
                    <td width="85" height="35" align="left" valign="middle">64541319</td>
                </tr>
                <tr>
                    <td width="10" align="left" valign="middle">会员名字</td>
                    <td width="5" height="35" align="center" valign="middle">:</td>
                    <td width="85" height="35" align="left" valign="middle">王德东</td>
                </tr>
                <tr>
                    <td width="10" align="left" valign="middle">单位</td>
                    <td width="5" height="35" align="center" valign="middle">:</td>
                    <td width="85" height="35" align="left" valign="middle">2,710.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section-3">
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td height="35" colspan="2" bgcolor="#660000" style="color:#FFF; padding:0 8px; font-weight:bold;"><i class="fa fa-stack-exchange"></i>&nbsp;<span style="text-transform: uppercase;">证券信息</span></td>
                </tr>
                <tr>
                    <td width="15" height="35" align="left" valign="middle">普通证券</td>
                    <td width="85" height="35" align="left" valign="middle">7,712.56</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td height="35" colspan="2" bgcolor="#660000" style="color:#FFF; padding:0 8px; font-weight:bold;"><i class="fa fa-stack-exchange"></i>&nbsp;<span style="text-transform: uppercase;">资产</span></td>
                </tr>
                <tr>
                    <td width="15" height="35" align="left" valign="middle">资产名称</td>
                    <td width="85" height="35" align="left" valign="middle">当前最高拍卖价</td>
                </tr>
                <tr>
                    <td width="15" height="35" align="left" valign="middle">Sea Saran Condo Bang Saray</td>
                    <td width="85" height="35" align="left" valign="middle" style="font-size:38px; color:#960;">1,600.00</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td height="35" colspan="5" bgcolor="#660000" style="color:#FFF; padding:0 8px; font-weight:bold;"><i class="fa fa-key"></i><span style="text-transform: uppercase;">积分资料</span></td>
                </tr>
                <tr>
                    <td width="25" height="35" align="center" valign="middle">售券分</td>
                    <td width="25" height="35" align="center" valign="middle">购券分</td>
                    <td width="25" height="35" align="center" valign="middle">优券分</td>
                    <td width="25" height="35" align="center" valign="middle">证券价格</td>
                </tr>
                <tr style="font-size:38px; color:#960;">
                    <td width="25" height="50" align="center" valign="middle">7.60</td>
                    <td width="25" height="50" align="center" valign="middle">0.00</td>
                    <td width="25" height="50" align="center" valign="middle">0.00</td>
                    <td width="25" height="50" align="center" valign="middle">1.05</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section-4">
        <h3><i class="fa fa-link"></i> 快速链接</h3>
        <li>
            <a href="#">
                个人档案查询<br><br><i class="fa fa-user-plus" style="font-size:108px;"></i><br>
            </a>
        </li>
        <li>
            <a href="#">
                购买单位配套<br><br><i class="fa fa-key" style="font-size:108px;"></i><br>
            </a>
        </li>
        <li>
            <a href="#">
                单位充值<br><br><i class="fa fa-arrow-circle-up" style="font-size:108px;"></i><br>
            </a>
        </li>
        <li>
            <a href="#">
                下载<br><br><i class="fa fa-download" style="font-size:108px;"></i><br>
            </a>
        </li>
        <li>
            <a href="#">
                交易平台<br><br><i class="fa fa-bar-chart" style="font-size:108px;"></i><br>
            </a>
        </li>
        <li class="last">
            <a href="#">
                布告板查询<br><br><i class="fa fa-ticket" style="font-size:108px;"></i><br>
            </a>
        </li>
    </div>
</div>
